@import "../../globals";

.create-note {
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  background: transparent;
  font-size: $fontSizeMedium;
  transition: $defaultTransition;

  svg {
    margin-left: 10px;
  }

  &:hover {
    background: $grayLight;
  }
}