@import "../../globals";

.notes-item {
  cursor: pointer;
  width: 100%;
  height: $noteLIHeight;
  padding: 25px 15px;

  time {
    float: right;
    font-weight: bold;
  }

  &:nth-child(even) {
    background: $gray;
  }

  &.active {
    background: $primaryLighter;
  }
}
