@import "../../globals";

.single-note {
  width: $noteWidth;
  height: $mainHeight;

  &__title,
  &__desc {
    width: 100%;
    border: none;
    outline: none;
  }

  &__title {
    width: 100%;
    border: none;
    outline: none;
    font-size: $fontSizeBig;
    line-height: 2;
  }

  &__desc {
    height: calc(#{$mainHeight} - 40px - 23px);
    resize: none;
    font-family: unset;
    font-size: $fontSizeMedium;
  }

  &__toolbar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: $grayDark;

    & > button {
      font-size: $fontSizeBig;
      border: none;
      background: transparent;
      transition: $defaultTransition;

      &.active svg {
        fill: $primary;
      }

      &:hover {
        transform: scale(1.04);
      }

      & > svg {
        cursor: pointer;
        margin-right: 20px;
        fill: $grayDarker;
      }
    }
  }
}