/* General */
$notesPerList: 5;

/* Colours */
$secondary: #535353;
$grayLight: #ededed;
$gray: #f8f8f8;
$grayDark: #e1e1e1;
$grayDarker: #595959;
$primary: #1b69ff;

/* Sizes */
$headerHeight: 50px;
$toolbarWidth: 85px;
$noteWidth: 50vw;
$mainHeight: calc(100vh - #{$headerHeight});
$listWidth: calc(100vw - #{$toolbarWidth} - #{$noteWidth});
$noteLIHeight: calc(#{$mainHeight} / #{$notesPerList});

/* Fonts */
$fontSizeSmall: 12px;
$fontSizeMedium: 15px;
$fontSizeBig: 20px;
$fontWeightLight: 300;
$fontWeightMedium: 500;
$fontWeightBold: 700;

/* Animations */
$defaultTransition: all .1s ease-in;
